<div class="footer d-none d-lg-block ">
    <div class="float-right">
        Made with Curiosity
    </div>
    <div>
        <strong>Copyright</strong> Exenditure &copy; 2014 - 2018
    </div>

</div>

