



<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">Welcome to the Expenditures</h3>
        <div class="error-desc">
            You can track your expences with in this application. <br />
            Please Register or Login!
            <br /><a href="@Url.Action("Register","Account")" class="btn btn-success m-t">Register</a>
            <a href="@Url.Action("Login","Account")" class="btn btn-primary m-t">Login</a>
        </div>

    </div>
</div>

